.notification-form.hidden
	.notification-container
		.notification-wrapp
			p 
				b
					|На сайте используются файлы cookie.
				br
				|Продолжая использование сайта, вы соглашаетесь на обработку своих персональных данных.
				br
				|Подробности об обработке ваших данных — в  
				a(href="[~189~]" target="_blank")
					|Правила пользования файлов cookie
				|.
			.notification-button
				button.btn.btn-any(type="button")
					|Закрыть