.row
	.navmenu
		.navmenu-button-container
			.navmenu-button
				.button-menu(role="button")
					|{{@FILE assets/templates/projectsoft/tpl/button-menu.html}}
		nav
			|[[DLMenu?
			|	&parents=`0`
			|	&maxDepth=`1`
			|	&showParent=`0`
			|	&urlScheme=`full`
			|	&ownerTPL=`@CODE: <ul>[+dl.wrap+]</ul>`
			|	&rowTpl=`@CODE: <li><a href="[+url+]"[+classes+] [+link_attributes+]>[+title+]</a></li>`
			|	&rowHereTpl=`@CODE: <li><span[+classes+]>[+title+]</span></li>`
			|	&rowClass=``
			|	&firstClass=``
			|	&lastClass=``
			|	&levelClass=``
			|	&webLinkClass=``
			|	&parentClass=``
			|	&hereClass=`active`
			|	&activeClass=`active`
			|	&oddClass=``
			|	&evenClass=``
			|]]