.row
	.container-fluid.content.news
		h3.news-title.text-center
			|Новости СП ДС «Колосок»
		.hyphenation
			|[+dl.wrap+]
.row
	.container-fluid
		p.text-center
			a.btn.btn-any(href="[(site_url)][~2~]")
				|Все новости