.methodical-container.clearfix
	p.methodical-container-item
		|<a href="[+url+]" [+link_attributes+]>
		|	<span>
		|		<img src="[[thumb? &input=`[+imageSoc+]` &options=`w=751,h=422,zc=C`]]" alt="[+title:hsc+]">
		|	</span>
		|	<span>
		|		[+title+]
		|	</span>