.frame-wrapper.clearfix
	.embed-wrapper
		.embed-responsive.embed-responsive-16by9
			iframe(src="[[youtubeLink? &url=`[*youtubetv*]`]]")
		p.text-center
			a(href="[*youtubetv*]" target="_blank" savefrom_lm="0")
				|[*youtubetv*]