.sidebar-navmenu
	.sidebar-navmenu-button
		.button-menu
			|{{@FILE assets/templates/projectsoft/tpl/button-menu.html}}
nav
	|[[multiTV? 
	|  &fromJson=`[(side_bar)]` 
	|  &tvName=`side_bar`
	|  &display=`all`
	|]]