.teacher_title
	|[*image_tech:isNotEmpty:then('<div class="teacher_image"><img src="[[thumb? &input=`[*image_tech*]` &options=`w=500,h=748,zc=C`]]" alt="[*name_tech:hsc*]"></div>'):else('<span></span>')*]
	.teacher_description
		p.text-italic
			|[*description_tech:nl2br*]