<!DOCTYPE html>
<html lang="ru" prefix="og: http://ogp.me/ns#">
	<!-- Вывод дочерних ресурсов-->
	{{@FILE assets/templates/projectsoft/tpl/head.html}}
	<body>{{@FILE assets/templates/projectsoft/tpl/topmenu.html}}
		<div class="section container">
			{{@FILE assets/templates/projectsoft/tpl/top-header.html}}
			{{@FILE assets/templates/projectsoft/tpl/global-menu.html}}
			<div class="row">
				<div class="director">
					<div class="column sidebar all">{{@FILE assets/templates/projectsoft/tpl/sidebar.html}}</div>
				</div>
			</div>
			<div class="row">[[DLCrumbs &showCurrent=`1`]]</div>
			<div class="row">
				<div class="container-fluid">
					<h1>[[alterTitle]]</h1>
					<div class="content hyphenation">[*content*]
						<!-- Вывод дочерних ресурсов-->[[DLMenu?
						  &parents=`[*id*]`
						  &maxDepth=`1`
						  &showParent=`0`
						  &urlScheme=`full`
						  &ownerTPL=`@CODE: <ul>[+wrap+]</ul>`
						  &rowTpl=`@CODE: <li><p><a href="[+url+]" [+link_attributes+]>[+title+]</a></p></li>`
						  &prepare=`\ProjectSoft\PrepareDL::prepareUrlDLMenu`
						  &rowClass=``
						  &firstClass=``
						  &lastClass=``
						  &levelClass=``
						  &webLinkClass=``
						  &parentClass=``
						  &hereClass=``
						  &activeClass=``
						  &oddClass=``
						  &evenClass=``
						]]
					</div>
				</div>
			</div>[[DocLister?
			  &parents=`544`
			  &display=`5`
			  &tvList=`imageSoc, news_date`
			  &tvPrefix=``
			  &orderBy=`news_date DESC`
			  &sortBy=`news_date`
			  &sortDir=`DESC`
			  &tvSortType=`TVDATETIME`
			  &prepare=`\ProjectSoft\PrepareDL::prepareItem`
			  &noneTPL=`@CODE:<span></span>`
			  &ownerTPL=`@CODE:<div class="row">
			  <div class="container-fluid content news">
			          <h3 class="news-title text-center">Кейс отзывы</h3>
			          <div class="hyphenation">
			              <div class="news-container">
			                  [+dl.wrap+]
			              </div>
			          </div>
			      </div>
			  </div>`
			  &tpl=`@FILE:projectsoft/tpl/news_tpl`
			  &showParent=`0`
			  &urlScheme=`full`
			  &noneWrapOuter=`0`
			]]
			{{@FILE assets/templates/projectsoft/tpl/sites-link.html}}
		</div>{{@FILE assets/templates/projectsoft/tpl/footer.html}}
		{{@FILE assets/templates/projectsoft/tpl/yepnope.html}}
		{{@FILE assets/templates/projectsoft/tpl/yepnope-load.html}}
	</body>
</html>