
<div class="notification-form hidden">
	<div class="notification-container">
		<div class="notification-wrapp">
			<p> <b>На сайте используются файлы cookie.</b><br/>Продолжая использование сайта, вы соглашаетесь на обработку своих персональных данных.<br/>Подробности об обработке ваших данных — в  <a href="[~189~]" target="_blank">Правила пользования файлов cookie</a>.</p>
			<div class="notification-button">
				<button class="btn btn-any" type="button">Закрыть</button>
			</div>
		</div>
	</div>
</div>