
<div class="news-container">
	<div class="news-container-item">
		<h4 class="title">
			<a class="hyphenation" href="[+url+]" [+link_attributes+]>
				[+title+]
			</a>
		</h4>
		<p class="date text-right"><span class="icon-calendar"></span><span>[+out_date+]</span></p>
		<div class="news-container-item-description">
			<p class="photo">
				<a href="[+url+]" [+link_attributes+]>
					<img src="[[thumb? &input=`[+imageSoc+]` &options=`w=751,h=422,zc=C`]]" alt="[+title:hsc+]">
				</a>
			</p>
			<p class="text"><span class="text-wrapper hyphenation">[+introtext:nl2br+]</span><a class="btn btn-any" href="[+url+]" [+link_attributes+]>
					Подробнее
				</a>
			</p>
		</div>
	</div>
</div>