
[[multiTV? 
 &fromJson=`[(govlist)]` 
 &tvName=`siteslink`
 &display=`all`
]]
 [*id:is=`1`:then=`
<!-- Gismeteo informer START -->
<!--link rel="stylesheet" type="text/css" href="https://nst1.gismeteo.ru/assets/flat-ui/legacy/css/informer.min.css">
<div class="text-center">
	<div class="inline-block" style="margin-bottom: 4em;">
		<div id="gsInformerID-7T8d23r6rIG1Y5" class="gsInformer" style="width:240px;height:225px">
			<div class="gsIContent">
				<div id="cityLink">
					<a href="https://www.gismeteo.ru/weather-komsomolsky-210737/" target="_blank" title="Погода в Комсомольском">
						<img src="https://nst1.gismeteo.ru/assets/flat-ui/img/gisloader.svg" width="24" height="24" alt="Погода в Комсомольском">
					</a>
				</div>
				<div class="gsLinks">
					<table>
						<tr>
							<td>
								<div class="leftCol">
									<a href="https://www.gismeteo.ru/" target="_blank" title="Погода">
										<img alt="Погода" src="https://nst1.gismeteo.ru/assets/flat-ui/img/logo-mini2.png" align="middle" border="0" width="11" height="16" />
										<img src="https://nst1.gismeteo.ru/assets/flat-ui/img/informer/gismeteo.svg" border="0" align="middle" style="left: 5px; top:1px">
									</a>
								</div>
								<div class="rightCol">
									<a href="https://www.gismeteo.ru/weather-komsomolsky-210737/2-weeks/" target="_blank" title="Погода в Комсомольском на 2 недели">
										<img src="https://nst1.gismeteo.ru/assets/flat-ui/img/informer/forecast-2weeks.ru.svg" border="0" align="middle" style="top:auto" alt="Погода в Комсомольском на 2 недели">
									</a>
								</div>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<script async src="https://www.gismeteo.ru/api/informer/getinformer/?hash=7T8d23r6rIG1Y5"></script-->
<!-- Gismeteo informer END -->
`*]