
<div class="row relative"><a class="bvi-open" href="/#" title="Версия для слабовидящих"><i class="icon-eye" data-title="Версия для слабовидящих"></i></a>
	<!--.eye_panel
	.eye_panel--control
		a.eye_panel--link(href="javascript:;" title="Версия для слабовидящих")
	.eye_panel--wrapp
		.eye_panel--controls
			|Controls
	-->
	<div class="school">
		<div class="school-logo">
			<p><img src="[[thumb? &amp;input=`[(logotip)]` &amp;options=`w=210,h=210,zc=C`]]" alt="[(name_org:hsc)]"/></p>
		</div>
		<div class="school-name">
			<p>[(name_org:nl2br)]</p>
		</div>
		<div class="school-phones">
			<p id="orgPhones">[(phones:nl2br)]</p>
		</div>
	</div>
</div>