
<script type="text/javascript">
	var Hyphenopoly = {
	   require: {
	       ru		: "ru"
	   },
	   paths	: {
	       maindir	: "assets/comon/js/Hyphenopoly/",
	       patterndir	: "assets/comon/js/Hyphenopoly/patterns/"
	   },
	   setup	: {
	       selectors	: {
	           ".hyphenation"	: {
	               "minWordLength"	: 1
	           }
	       }
	   }
	};
	window.HTTP_CLIENT = [!GetIP!];
	yepnope('assets/templates/projectsoft/js/appjs.min.js', undefined, function() {
	   yepnope('assets/templates/projectsoft/js/main.js?826d779b6a758d409f498edfcf353694', undefined, function() {
	       yepnope('assets/comon/js/Hyphenopoly/Hyphenopoly_Loader.js?826d779b6a758d409f498edfcf353694', undefined, function() {});
	   })
	});
</script>[!YandexMetrika!]