doctype html
html(lang="ru" prefix="og: http://ogp.me/ns#")
	// Шаблон ошибок
	|
	|{{@FILE assets/templates/projectsoft/tpl/head.html}}
	body
		|{{@FILE assets/templates/projectsoft/tpl/topmenu.html}}
		.section.container
			|{{@FILE assets/templates/projectsoft/tpl/top-header.html}}
			|{{@FILE assets/templates/projectsoft/tpl/global-menu.html}}
			.row
				.director
					.column.sidebar.all
						|{{@FILE assets/templates/projectsoft/tpl/sidebar.html}}
			.row
				|[[DLCrumbs &showCurrent=`1`]]
			.row
				.container-fluid
					h1
						|[*pagetitle*]
					.content.hyphenation
						|[*content*]
			|{{@FILE assets/templates/projectsoft/tpl/sites-link.html}}
		|{{@FILE assets/templates/projectsoft/tpl/footer.html}}
		|{{@FILE assets/templates/projectsoft/tpl/yepnope.html}}
		|{{@FILE assets/templates/projectsoft/tpl/yepnope-load.html}}